name: Build
on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: | 
            8.0.x
            9.0.x
            10.0.x
          
      - run: dotnet restore tests/StatPulse.NET.Tests/StatePulse.NET.Tests.csproj
      - run: dotnet test tests/StatPulse.NET.Tests/StatePulse.NET.Tests.csproj -c Release --no-restore --verbosity normal
