name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
          
      - run: dotnet restore tests/StatPulse.NET.Tests/StatePulse.NET.Tests.csproj
      - run: dotnet test tests/StatPulse.NET.Tests/StatePulse.NET.Tests.csproj -c Release --no-restore --verbosity normal
