name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      - run: dotnet workload install android wasm-tools
      - run: dotnet restore
      
      - run: dotnet build -c Release --no-restore
      
      - run: dotnet test -c Release --no-build --verbosity normal
